/* MAIN - UPGRADE*/

.upgrade {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 70px;
  z-index: 999;
  background-color: rgba(8, 11, 18, .3)
  
}

.upgrade-btn {
  float: right;
  text-align: center;
  margin: 15px 20px;
  padding: 10px 35px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #0B0B12;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  cursor: pointer;
}

.upgrade-btn:hover {
  font-weight: bold;
  font-size: 14px;
}

.upgrade-btn:active {
  color: #A7F62E;
  border: 1px solid #A7F62E;
}

/* MAIN - /UPGRADE*/


/* MAIN - NAV MENU */

.nav-menu {
  float: left;
  width: 250px;
  height: 100%;
  padding-top: 15px;
  padding-left: 15px;
  background-color: #000000;
}


/* MAIN - NAV MENU (TOP) */

.nav-top {
  height: calc(100% - 70px);
}


/* LOGO MENU */
.logo {
  width: 70%;
}

.logo-small {
  width: 15%;
  display: none;
}


/* HOME MENU */

.home-menu {
  padding-top: 20px;
}

.home-menu a {
  text-transform: capitalize;
  color: #75757A;
}

.home-menu img {
  width: 15%;
  vertical-align: middle;
}

.home-menu a:hover {
  color: #FFFFFF;
}

.home-menu a:active {
  color: #A7F62E;
}

.search {
  padding: 15px 0;
}


/* PLAYLIST MENU */

.playlist-menu {
  padding-top: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
  height: 30%
}

.new-playlist {
  padding: 20px 0;
  overflow-y: auto;
}

.new-playlist a {
  color: #75757A;
  text-transform: capitalize;
}

.new-playlist a:hover {
  color: #FFFFFF;
}

.new-playlist a:active {
  color: #A7F62E;
}

.new-playlist i {
  font-size: 55px;
  vertical-align: middle;
  padding-right: 10px;
}

.name-playlist nav {
  overflow-y: auto;
}

.name-playlist p {
  padding: 10px 0;
  color: #75757A;
  text-transform: capitalize;
}

.name-playlist p:hover {
  color: #FFFFFF;
}

.name-playlist p:active {
  color: #A7F62E;
}

/* MAIN - /NAV MENU (TOP) */


/* MAIN - NAV MENU (BOTTOM) */

.nav-bottom {
  height: 70px;
  color: #FFFFFF;
}

.download img, .user img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.download span {
  color: #75757A;
  padding-left: 10px;
}

.download span:hover {
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
}

.line {
  margin: 10px 0;
  width: 220px;
  border-top: 1px solid #75757A;
  border-bottom: 1px solid #75757A;
  background-color: #75757A;
}

.user img {
  background-color: #808080;
  border-radius: 10px;
}

.user span {
  padding-left: 10px;
  color: #FFFFFF;
  font-weight: bold;
}

/* MAIN - /NAV MENU (BOTTOM) */


/* MAIN - COVER MUSIC */

.cover-music {
  float: left;
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
}


/* MAIN - NAV COVER */

.nav-cover {
  margin-top: 80px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-cover li {
  display: inline-block;
  padding: 0 10px;
}

.nav-cover a {
  color: #75757A;
}

.nav-bar {
  border-bottom: 2px solid #A7F62E;
  width: 30%;
  margin: 0 auto;
}

.nav-cover a:hover {
  color: #FFFFFF;
}

/* MAIN - ALBUM COVERS */

.album-covers {
  margin-left: 20px;
}

.album-covers h1 {
  font-weight: bolder;
  color: #FFFFFF;
  padding-bottom: 15px;
  padding-top: 15px;
}

.album-covers p {
  padding-bottom: 15px;
  color: #75757A;
}

.albums {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.album-space {
  margin-right: 20px;
  margin-bottom: 20px;
}

.image-album, .popular-artist {
  width: 200px;
  position: relative;
}

.image-album img, .popular-artist img {
  width: 100%;
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #000000;
}

.image-album:hover .overlay, .popular-artist:hover .overlay {
  opacity: .6;
  cursor: pointer;
}

.popular-artist:hover .overlay {
  border-radius: 50%;
  transition: .6  s ease-in;
}

.play-album {
  color: #FFFFFF;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.description-image {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
}

.description-image a {
  color: #FFFFFF;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
}

.description-image a:hover {
  font-size: 17px;
  font-weight: 900;
}

.description-image span {
  color: #75757A;
  font-weight: bold;
}

.popular-artist img {
  width: 100%;
  border-radius: 50%;
}

/* MAIN - /ALBUM COVERS */

