@media screen and (max-width: 499px) {

  /* MAIN */

  .upgrade-btn {
    font-size: 12px;
    padding: 7px 12px;
  }

  .upgrade-btn:hover {
    font-size: 14px;
  }

  .cover-music {
    width: calc(100% - 50px);
    height: 100%;
  }

  .nav-menu {
    width: 50px;
  }
  
  .logo {
    display: none;
  }

  .logo-small {
    display: block;
  }

  .home-menu img, .logo-small {
    width: 70%;
  }

  .home-menu span, .nav-bottom span, .line {
    display: none;
  }

  .playlist-menu {
    display: none;
  } 

  

  /* FOOTER */

  .music-player-left div {
    padding-right: 10px;
  }

  .favourite-player {
    flex-wrap: wrap;
    padding-left: 0px;
  }

  .scroll-player {
    font-size: 12px;
  }

  .scrollbar-empty {
    width: 250px;
  }

  .command-player i, #play  {
    font-size: 20px;
    padding: 0 5px;
  }

  .functions {
    font-size: 12px;
    padding: 0 5px;
  }

  #play:hover {
    font-size: 18px;
  }

  .volume-empty {
    width: 70px;
  }

  .volume-full {
    width: 30px;
  }

  .media-player-center {
    width: 25%;
  }

  .command-player i, #play {
    font-size: 14px;
    padding: 0 5px;
  }

  #play:hover {
    font-size: 18px;
  }

}

@media screen and (min-width: 500px) and (max-width: 889px) {

  /* MAIN */
  

  /* FOOTER */

  .music-player-left div {
    padding-right: 10px;
  }

  .favourite-player {
    flex-wrap: wrap;
    padding-left: 0px;
  }

  .scroll-player {
    font-size: 12px;
  }

  .scrollbar-empty {
    width: 250px;
  }

  .command-player i, #play  {
    font-size: 20px;
    padding: 0 5px;
  }

  .functions {
    font-size: 12px;
    padding: 0 5px;
  }

  #play:hover {
    font-size: 18px;
  }

  .volume-empty {
    width: 70px;
  }

  .volume-full {
    width: 30px;
  }
}