/* GENERAL PRESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

main {
  height: calc(100% - 90px);
  width: 100%;
  background-color: #141922;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* /GENERAL PRESETS */


/* MAIN - UPGRADE*/

.upgrade {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 70px;
  z-index: 999;
  background-color: #0B0B12;
}

.upgrade-btn {
  float: right;
  text-align: center;
  margin: 15px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #0B0B12;
  padding: 10px 35px;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  cursor: pointer;
}

.upgrade-btn:hover {
  font-weight: bold;
}

.upgrade-btn:active {
  color: #A7F62E;
  border: 1px solid #A7F62E;
}

/* MAIN - NAV MENU */

.nav-menu {
  float: left;
  width: 250px;
  height: 100%;
}

.nav-top {
  height: calc(100% - 70px);
}

.nav-bottom {
  height: 70px;
}

/* MAIN - COVER MUSIC */

.cover-music {
  float: left;
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
}


/* MAIN - NAV COVER */

.nav-cover {
  margin-top: 70px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-cover li {
  display: inline-block;
  padding: 0 10px;
}

.nav-cover a {
  color: #75757A;
}

.nav-cover a:hover {
  color: #FFFFFF;
}




/* /MAIN */


/* FOOTER - music */
.music-player {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

/* MUSIC PLAYER LEFT */
.music-player-left {
  background-color: aqua;
}



/* MUSIC PLAYER CENTER */
.music-player-center {
  background-color: aqua;
  width: 45%;
}



/* MUSIC PLAYER RIGHT */
.music-player-right {
  background-color: aqua;
}


/* /FOOTER */