/* GENERAL PRESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

main {
  height: calc(100% - 90px);
  width: 100%;
  background-color: #141922;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* /GENERAL PRESETS */


/* MAIN - UPGRADE*/

.upgrade {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 250px);
  height: 70px;
  z-index: 999;
  background-color: #0B0B12;
}

.upgrade-btn {
  float: right;
  text-align: center;
  margin: 15px 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #0B0B12;
  padding: 10px 35px;
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  cursor: pointer;
}

.upgrade-btn:hover {
  font-weight: bold;
}

.upgrade-btn:active {
  color: #A7F62E;
  border: 1px solid #A7F62E;
}

/* MAIN - NAV MENU */

.nav-menu {
  float: left;
  width: 250px;
  height: 100%;
  padding-top: 15px;
  padding-left: 15px;
  background-color: #000000;
}


/* MAIN - NAV MENU (TOP) */

.nav-top {
  height: calc(100% - 70px);
  
  overflow-y: auto;
}

/* LOGO MENU */
.logo-menu {
  width: 70%;
}


/* HOME MENU */

.home-menu {
  padding-top: 20px;
}

.home-menu a {
  text-transform: capitalize;
  color: #75757A;
}

.home-menu img {
  width: 15%;
  vertical-align: middle;
}

.home-menu a:hover {
  color: #FFFFFF;
}

.home-menu a:active {
  color: #A7F62E;
}

.search {
  padding: 15px 0;
}


/* PLAYLIST MENU */

.playlist-menu {
  padding-top: 30px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.new-playlist {
  padding: 20px 0;
}

.new-playlist a {
  color: #75757A;
  text-transform: capitalize;
}

.new-playlist a:hover {
  color: #FFFFFF;
}

.new-playlist a:active {
  color: #A7F62E;
}

.new-playlist i {
  font-size: 55px;
  vertical-align: middle;
  padding-right: 10px;
}

.name-playlist p {
  padding: 10px 0;
  color: #75757A;
  text-transform: capitalize;
  overflow-y: auto;
}

.name-playlist p:hover {
  color: #FFFFFF;
}

.name-playlist p:active {
  color: #A7F62E;
}



/* MAIN - NAV MENU (BOTTOM) */

.nav-bottom {
  height: 70px;
  color: #FFFFFF;
}

.download img, .user img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.download span {
  color: #75757A;
  padding-left: 10px;
}

.line {
  margin: 10px 0;
  width: 220px;
  border-top: 1px solid #75757A;
  border-bottom: 1px solid #75757A;
  background-color: #75757A;
}

.user img {
  background-color: #808080;
  border-radius: 10px;
}

.user span {
  padding-left: 10px;
  color: #FFFFFF;
  font-weight: bold;
}


/* MAIN - COVER MUSIC */

.cover-music {
  float: left;
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
}


/* MAIN - NAV COVER */

.nav-cover {
  margin-top: 70px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-cover li {
  display: inline-block;
  padding: 0 10px;
}

.nav-cover a {
  color: #75757A;
}

.nav-cover a:hover {
  color: #FFFFFF;
}




/* /MAIN */


/* FOOTER - MUSIC PLAYER */
.music-player {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #282828;
}

/* MUSIC PLAYER LEFT */
.music-player-left {

  display: flex;
  justify-content: space-between;
}

.music-player-left div {
  padding-right: 15px;
  display: flex;
}

.cover-player, .title-player, .favourite-player {
  align-items: center;
}

.cover-player img {
  width: 60px;
  height: 60px;
}

.title-player {
  flex-direction: column;
  text-transform: capitalize;
  justify-content: center;
  align-items: flex-start;
}

.title-player {
  font-size: 12px;
  font-weight: bold;
}

.title-player .artist {
  color: #FFFFFF;
}

.title-player .song {
  color: #75757A;
}

.favourite-player {
  padding-left: 20px;
}

.favourite-player i {
  padding-right: 15px;
  color: #75757A;
}

.favourite-player i:hover {
  color: #FFFFFF;
  cursor: pointer;
}




/* MUSIC PLAYER CENTER */
.music-player-center {
  background-color: aqua;
  width: 45%;
}



/* MUSIC PLAYER RIGHT */
.music-player-right {
  background-color: aqua;
}


/* /FOOTER */